.result {
	position: relative;
	display: grid;
	justify-items: center;
	margin: -130px auto;
	padding: 50px 40px 0;
	max-width: 500px;
	border-radius: 20px;
	background: rgb(20, 120, 100);
	box-shadow: 0 0 5px rgb(12, 12, 12);
	transition: margin-top 0.5s;
	z-index: -1;
}

.result__converted {
	margin: 0;
	font-size: 40px;
	font-weight: bold;
	color: azure;
	text-align: center;
}

.result__info {
	font-size: 12px;
}

.showResult {
	margin-top: 0;
}

@media (max-width: 550px) {
	.showResult {
		margin-top: 0;
	}

	.result__converted {
		font-size: 32px;
	}
}

@media (max-width: 400px) {
	.result {
		padding: 40px 20px 0;
	}

	.result__converted {
		font-size: 24px;
	}

	.showResult {
		margin-top: -12px;
	}
}
