.result {
	position: relative;
	display: grid;
	justify-items: center;
	margin: -130px auto;
	padding: 50px 40px 0;
	min-width: 440px;
	max-width: 500px;
	border-radius: 20px;
	background: rgb(20, 120, 100);
	box-shadow: 0 0 5px rgb(12, 12, 12);
	transition: margin-top 0.5s;
	z-index: -1;
}

.result__converted {	
	margin: 0;
	font-size: 40px;
	font-weight: bold;
	color: azure;
}

.result__info {
	font-size: 12px;
}

.showResult {
	margin-top: 20px;
}