.clock {
	display: flex;
	justify-content: flex-end;
	margin: 0;
	font-family: monospace;
	color: gray;
}

@media (max-width: 550px) {
	.clock {
		justify-content: center;
}
}

@media (max-width: 440px) {
	.clock {
	font-size: 12px;
}
}

@media (max-width: 380px) {
	.clock {
	font-size: 10px;
}
}