

.form__input,
.form__currency {
	padding: 10px;
	text-align: center;
	border: 1px solid rgb(165, 165, 165);
	border-radius: 5px;
}

.form__errorText {
	grid-column-start: 2;
	margin-top: -10px;
	height: 14px;
	text-align: center;
	font-size: 14px;
	color: crimson;
	visibility: hidden;
}

.buttons {
	display: grid;
	grid-template-columns: 160px 160px;
	justify-content: space-evenly;
}

.buttons__button {
	margin-top: 20px;
	padding: 8px;
	border-radius: 8px;
	border: 1px solid rgb(165, 165, 165);
	cursor: pointer;
	transition: 0.3s;
}

.buttons__button:hover {
	background-color: rgba(20, 120, 100, 0.445);
	color: azure;
}

.error {
	visibility: visible;
}

.errorColor {
	background-color: rgba(221, 167, 178, 0.584);
}

@media (max-width: 550px) {

	.form__errorText {
		grid-column-start: 1;
	}

	.buttons {
		grid-template-columns: 120px 120px;
	}

	.buttons__button {
		margin-top: 20px;
	}
}

@media (max-width: 400px) {


	.form__input,
	.form__currency {
		margin-bottom: -10px;
		font-size: 14px;
	}

	.form__errorText {
		margin-top: 0;
		font-size: 12px;
	}

	.buttons {
		grid-template-columns: 100px 100px;
	}

	.buttons__button {
		font-size: 14px;
	}
}
