.container {
	margin: 50px auto;
	padding: 30px;
	max-width: 600px;
	height: 380px;
	background-color: rgb(210, 210, 210);
	border-radius: 20px;
	box-shadow: 0 0 5px rgb(12, 12, 12);
}

.form {
	padding: 0 20px;
}

.form__paragraph {
	display: grid;
	grid-template-columns: 1fr 220px;
}

.form__paragraph--dimensions {
margin-top: 36px;
}

.form__labelText {
	display: grid;
	align-items: center;
}

.form__input,
.form__currency {
	padding: 10px;
	text-align: center;
	border: 1px solid rgb(165, 165, 165);
	border-radius: 5px;
}

.form__errorText {
	grid-column-start: 2;
	margin-top: -12px;
	text-align: center;
	font-size: 14px;
	color: crimson;
	visibility: hidden;
}

.buttons {
	display: grid;
	grid-template-columns: 160px 160px;
	justify-content: space-evenly;
}

.buttons__button {
	margin-top: 40px;
	padding: 8px;
	border-radius: 8px;
	border: 1px solid rgb(165, 165, 165);
	cursor: pointer;
	transition: 0.3s;
}

.buttons__button:hover {
	background-color: rgba(20, 120, 100, 0.445);
	color: azure;
}

.error {
	visibility: visible;
}

.inputColor {
	background-color: rgba(221, 167, 178, 0.584);
}
